{
  "openapi": "3.0.0",
  "info": {
    "title": "AV conference API",
    "version": "2.0",
    "description": "API documentation for the AV conference",
    "contact": {
      "name": "Dineshkumar",
      "email": "dineshkumar.b@tra-augment.com",
      "url": "http://www.3edge.in"
    },
    "termsOfService": "https://www.termsofservice.com",
    "license": {
      "name": "MIT",
      "url": "https://github.com/b-dinesh-kumar/AV_conf/"
    }
  },
  "servers": [
    {
      "url": "https://jitsitomcat3edge.freemyip.com/conference/v2/",
      "description": ""
    }
  ],
  "paths": {
    "/meeting": {
      "get": {
        "summary": "Get all the meeting details",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "../model/common/Pagination.v1.json"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "../model/common/Meetings.v1.json"
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "pagination": {
                        "totalRecords": 25,
                        "limit": 20,
                        "page": 1
                      },
                      "data": [
                        {
                          "allowAnonymousUsers": true,
                          "businessEntityId": 1,
                          "meetingId": "85571e49-aa3e-4a0f-aa95-15b87793d01b",
                          "schEndTime": "2020-11-04T11:30:00Z",
                          "showRecording": true,
                          "schStartTime": "2020-11-04T10:30:00Z",
                          "isAutoRecEnabled": true,
                          "meetingUrl": "https://video.3edge.in:5000/a2f987292",
                          "isScreenshareUsed": true,
                          "meetingTimings": [
                            {
                              "actStartTime": "2020-10-28T15:20:00Z",
                              "actEndTime": "2020-10-28T16:15:00Z"
                            }
                          ],
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprin meeting",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Invalid Credential!",
                          "errorCode": "401"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting",
        "description": "Retrieve all the meeting details.",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "example": 1
            },
            "in": "query",
            "name": "page",
            "description": "Filter the meetings by the given page no"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "size",
            "description": "Limit the size of the data"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 4,
              "example": 1
            },
            "in": "query",
            "name": "status",
            "description": "Filter the meetings by the given status id \nEg: 1 - Scheduled,\n    2 - In progress,\n    3 - Completed,\n    4 - Cancelled"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-10-07"
            },
            "in": "query",
            "name": "from",
            "description": "Filter based on given start date"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-10-15",
              "format": "date"
            },
            "in": "query",
            "name": "to",
            "description": "Filter the meetings by the given end date"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "month",
            "description": "Filter the meetings by the given month"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "in": "query",
            "name": "sort",
            "description": "Sort the page by ascending or descending order\nEg: asc - sort by ascending,\n    desc- sort by descending"
          },
          {
            "schema": {
              "type": "string",
              "example": "0e63df57-a21b-4264-bd90-2657ce94d2d1"
            },
            "in": "query",
            "name": "createdBy",
            "description": "Filter the meetings by the scheduler"
          },
          {
            "schema": {
              "type": "string",
              "example": "0e63df57-a21b-4264-bd90-2657ce94d2d1"
            },
            "in": "query",
            "name": "organizer",
            "description": "Filter the meetings by the organizer"
          },
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "example": "%2B5:30"
            },
            "in": "query",
            "name": "timeZone",
            "description": "To convert the UTC time zone into given time zone ( use %2B for plus(+) symbol and use %2D for mius(-) symbol, Eg: %2B5:30)"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create Meeting",
        "operationId": "post-meeting",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "meetingId": {
                          "type": "string",
                          "example": "342a7e48-8626-40e2-8e16-547c2a1c49c8"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "meetingId": "342a7e48-8626-40e2-8e16-547c2a1c49c8"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Meeting name already present in the mentioned time",
                          "errorCode": "101"
                        }
                      ],
                      "status": "error"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "End time should be greater than Start time",
                          "errorCode": "102"
                        }
                      ],
                      "status": "error"
                    }
                  },
                  "application/json (3)": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Start date cannot be past date",
                          "errorCode": "103"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Invalid Credential!",
                          "errorCode": "401"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To create a meeting.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "schStartTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T10:30:00Z"
                  },
                  "schEndTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T11:30:00Z"
                  },
                  "meetingName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Sprint Meeting"
                  },
                  "meetingDesc": {
                    "type": "string",
                    "minLength": 1,
                    "example": "This meeting is about sprint 2"
                  },
                  "isWaitRoomEnabled": {
                    "type": "boolean"
                  },
                  "allowAnonymousUsers": {
                    "type": "boolean"
                  },
                  "isScreenshareUsed": {
                    "type": "boolean"
                  },
                  "isRecordingUsed": {
                    "type": "boolean"
                  },
                  "isAudioUsed": {
                    "type": "boolean"
                  },
                  "allowUsersInWaitRoom": {
                    "type": "boolean"
                  },
                  "isVideoUsed": {
                    "type": "boolean"
                  },
                  "isAutoRecEnabled": {
                    "type": "boolean"
                  },
                  "showRecording": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "schStartTime",
                  "schEndTime",
                  "meetingName",
                  "meetingDesc"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "schStartTime": "2020-11-02T10:30:00Z",
                    "schEndTime": "2020-11-02T11:30:00Z",
                    "meetingName": "Sprint Meeting",
                    "meetingDesc": "This meeting is about sprint 2",
                    "isWaitRoomEnabled": true,
                    "allowAnonymousUsers": true,
                    "isScreenshareUsed": true,
                    "isRecordingUsed": true,
                    "isAudioUsed": true,
                    "allowUsersInWaitRoom": true,
                    "isVideoUsed": true,
                    "isAutoRecEnabled": true,
                    "showRecording": true
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Details to create a meeting."
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "Get meeting details by id",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "../model/common/Meeting.v1.json"
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "allowAnonymousUsers": true,
                        "meetingId": "85571e49-aa3e-4a0f-aa95-15b87793d01b",
                        "schEndTime": "2020-11-04T11:30:00Z",
                        "showRecording": true,
                        "schStartTime": "2020-11-04T10:30:00Z",
                        "isAutoRecEnabled": true,
                        "businessEntity": {
                          "businessEnitytId": 1,
                          "businessEnityName": "Focus",
                          "logo": "/business/focus.jpg"
                        },
                        "meetingUrl": "https://video.3edge.in:5000/a2f987292",
                        "isScreenshareUsed": true,
                        "meetingTimings": [
                          {
                            "actStartTime": "2020-10-28T15:20:00Z",
                            "actEndTime": "2020-10-28T16:15:00Z"
                          }
                        ],
                        "isWaitRoomEnabled": true,
                        "meetingName": "Sprint Meeting",
                        "isRecordingUsed": true,
                        "isAudioUsed": true,
                        "meetingDesc": "This meeting is about sprint 2",
                        "isVideoUsed": true,
                        "allowUsersInWaitRoom": true,
                        "status": {
                          "statusId": 3,
                          "statusName": "Completed"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actEndTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "meetingId": {
                            "type": "string"
                          },
                          "schEndTime": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get-meeting-id",
        "description": "Retrieve the meeting details by id",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "delete": {
        "summary": "Delete meeting details by id",
        "operationId": "delete-meeting-id",
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully"
                      },
                      "staus": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete the meeting by id.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "patch": {
        "summary": "Update meeting details by id",
        "operationId": "patch-meeting-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update the meeting by id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "schStartTime": {
                    "type": "string",
                    "minLength": 1,
                    "example": "2020-11-02T10:30:00Z",
                    "format": "date-time"
                  },
                  "schEndTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T11:30:00Z"
                  },
                  "meetingName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Sprint Meeting"
                  },
                  "meetingDesc": {
                    "type": "string",
                    "minLength": 1,
                    "example": "This meeting is about sprint 2"
                  },
                  "isWaitRoomEnabled": {
                    "type": "boolean"
                  },
                  "allowAnonymousUsers": {
                    "type": "boolean"
                  },
                  "isScreenshareUsed": {
                    "type": "boolean"
                  },
                  "isRecordingUsed": {
                    "type": "boolean"
                  },
                  "isAudioUsed": {
                    "type": "boolean"
                  },
                  "allowUsersInWaitRoom": {
                    "type": "boolean"
                  },
                  "isVideoUsed": {
                    "type": "boolean"
                  },
                  "isAutoRecEnabled": {
                    "type": "boolean"
                  },
                  "showRecording": {
                    "type": "boolean"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "schStartTime": "2020-11-02T10:30:00Z",
                    "schEndTime": "2020-11-02T11:30:00Z",
                    "meetingName": "Sprint Meeting",
                    "meetingDesc": "This meeting is about sprint 2",
                    "isWaitRoomEnabled": true,
                    "allowAnonymousUsers": true,
                    "isScreenshareUsed": true,
                    "isRecordingUsed": true,
                    "isAudioUsed": true,
                    "allowUsersInWaitRoom": true,
                    "isVideoUsed": true,
                    "isAutoRecEnabled": true,
                    "showRecording": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/{id}/participants": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "Get all the participants",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "stealthMode": {
                            "type": "boolean"
                          },
                          "isOrganizer": {
                            "type": "boolean"
                          },
                          "meetingUserId": {
                            "type": "number",
                            "example": 74
                          },
                          "meetingId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "b745a235-0036-4740-8c65-3113d9d5bb3b"
                          },
                          "anonymousUser": {
                            "type": "object",
                            "properties": {
                              "anonymousUserId": {
                                "type": "number"
                              },
                              "emailId": {
                                "type": "string"
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "emailId": {
                                "type": "string",
                                "minLength": 1
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        },
                        "required": [
                          "stealthMode",
                          "isOrganizer",
                          "meetingUserId",
                          "meetingId"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": [
                        {
                          "stealthMode": true,
                          "isOrganizer": true,
                          "meetingUserId": 83,
                          "meetingId": "b745a235-0036-4740-8c65-3113d9d5bb3b",
                          "anonymousUser": {},
                          "user": {
                            "emailId": "brad.p@tra-augment.com",
                            "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                          }
                        }
                      ],
                      "status": "successs"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": [
                        {
                          "stealthMode": true,
                          "isOrganizer": false,
                          "meetingUserId": 83,
                          "meetingId": "b745a235-0036-4740-8c65-3113d9d5bb3b",
                          "anonymousUser": {
                            "anonymousUserId": 84,
                            "emailId": "rajesh.a@gamil.com"
                          },
                          "user": {}
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get-meeting-id-participants",
        "description": "Retrieve list of participants of the meeting",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "post": {
        "summary": "Add participants",
        "operationId": "post-meeting-id-participants",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Participants added successfully"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Participants added successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add participants to the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "stealthMode": {
                          "type": "boolean"
                        },
                        "isOrganizer": {
                          "type": "boolean"
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1,
                          "example": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                        }
                      },
                      "required": [
                        "stealthMode",
                        "isOrganizer",
                        "userId"
                      ]
                    }
                  }
                },
                "required": [
                  "users"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      {
                        "stealthMode": true,
                        "isOrganizer": true,
                        "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "patch": {
        "summary": "Update participants",
        "operationId": "patch-meeting-id-participants",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update the details of the participants",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "stealthMode": {
                          "type": "boolean"
                        },
                        "isOrganizer": {
                          "type": "boolean"
                        },
                        "meetingUserId": {
                          "type": "number",
                          "example": 45
                        }
                      },
                      "required": [
                        "stealthMode",
                        "isOrganizer",
                        "meetingUserId"
                      ]
                    }
                  }
                },
                "required": [
                  "users"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      {
                        "stealthMode": true,
                        "isOrganizer": true,
                        "meetingUserId": 45
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "delete": {
        "summary": "Delete participants",
        "operationId": "delete-meeting-id-participants",
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete the participants of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "example": 83
                    }
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      45
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/{id}/participants/{uId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "uId",
          "in": "path",
          "required": true,
          "description": "[GET,POST]-Meeting user id, [PATCH] - User session id"
        }
      ],
      "get": {
        "summary": "Get user sessions",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "../model/common/User-session.v1.json"
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "meeetingUserId": 66,
                          "reason": {
                            "reasonId": 1,
                            "reasonName": "Disconnected"
                          },
                          "exitTime": "2020-10-28T15:32:32Z",
                          "downloadSpeed": 5048,
                          "joinTime": "2020-10-28T15:22:32Z",
                          "uploadSpeed": 5048,
                          "userSessionId": 69,
                          "device": {
                            "deviceId": 3,
                            "deviceName": "Mobile"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get-meeting-id-participants-meetingUserId",
        "description": "Retrieve the user session details",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "post": {
        "summary": "Create user session",
        "operationId": "post-meeting-id-participants-meetingUserId",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "userSessionId": {
                          "type": "string",
                          "example": "12"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "userSessionId": "12"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create the user session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "joinTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-07T10:30:00Z"
                  },
                  "deviceId": {
                    "type": "number",
                    "example": 1
                  },
                  "uploadSpeed": {
                    "type": "number",
                    "example": 5048
                  },
                  "downloadSpeed": {
                    "type": "number",
                    "example": 5048
                  }
                },
                "required": [
                  "joinTime",
                  "deviceId",
                  "uploadSpeed",
                  "downloadSpeed"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "joinTime": "2020-10-07T10:30:00Z",
                    "deviceId": 1,
                    "uploadSpeed": 5048,
                    "downloadSpeed": 5048
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "patch": {
        "summary": "Update user session",
        "operationId": "patch-meeting-id-participants-uId",
        "description": "Update the user session by user session id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exitTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-07T10:50:00Z"
                  },
                  "reasonId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "exitTime": "2020-10-07T10:50:00Z",
                    "reasonId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/{id}/statistics": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "Get meeting statistics",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "stealthMode": {
                            "type": "boolean"
                          },
                          "isOrganizer": {
                            "type": "boolean"
                          },
                          "meetingUserId": {
                            "type": "number",
                            "example": 45
                          },
                          "sessionDetails": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "$ref": "../model/common/Session-Details.v1.json"
                            }
                          },
                          "anonymousUser": {
                            "type": "object",
                            "properties": {
                              "anonymousUserId": {
                                "type": "number"
                              },
                              "emailId": {
                                "type": "string"
                              },
                              "userName": {
                                "type": "string"
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "emailId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "christoper.n@tra-augment.com"
                              },
                              "userName": {
                                "type": "string",
                                "minLength": 1,
                                "example": "Christoper Nolan"
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "8478cab8-8070-4072-a893-299ebafd1a6f"
                              }
                            }
                          }
                        },
                        "required": [
                          "stealthMode"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": [
                        {
                          "stealthMode": false,
                          "isOrganizer": true,
                          "meetingUserId": 87,
                          "sessionDetails": [
                            {
                              "reason": "Disconnected",
                              "exitTime": "2020-10-07T10:50:00Z",
                              "joinTime": "2020-10-07T10:30:00Z",
                              "uploadSpeed": 5048,
                              "downloadSpeed": 5048,
                              "device": "Web"
                            }
                          ],
                          "anonymousUser": {},
                          "user": {
                            "emailId": "brad.p@tra-augment.com",
                            "userName": "Brad Pitt",
                            "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": [
                        {
                          "stealthMode": false,
                          "isOrganizer": true,
                          "meetingUserId": 87,
                          "sessionDetails": [
                            {
                              "reason": "Disconnected",
                              "exitTime": "2020-10-07T10:50:00Z",
                              "joinTime": "2020-10-07T10:30:00Z",
                              "uploadSpeed": 5048,
                              "downloadSpeed": 5048,
                              "device": "Web"
                            }
                          ],
                          "anonymousUser": {
                            "anonymousUserId": 90,
                            "emailId": "sathish.a@gamil.com",
                            "userName": "Sathish"
                          },
                          "user": {}
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get-meeting-id-statistics",
        "description": "Retrieve the meeting statistics",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/{id}/timing": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "post": {
        "summary": "Create meeting timing",
        "operationId": "post-meeting-id-timing",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "timingId"
                      ],
                      "properties": {
                        "timingId": {
                          "type": "number",
                          "example": 92
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "timingId": 92
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "To create the actual start time of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-28T16:15:00Z"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "startTime": "2020-10-28T16:15:00Z"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      },
      "patch": {
        "summary": "Update meeting timing",
        "operationId": "patch-meeting-id-timing",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "To create the actual end time of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "endTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-01T14:25:00Z"
                  },
                  "timingId": {
                    "type": "number",
                    "example": 92
                  }
                },
                "required": [
                  "endTime",
                  "timingId"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "endTime": "2020-11-01T14:25:00Z",
                    "timingId": 92
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/users/{beId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "beId",
          "in": "path",
          "required": true,
          "description": "Business entity id"
        }
      ],
      "get": {
        "summary": "Get all the users",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "object",
                            "properties": {
                              "roleId": {
                                "type": "number",
                                "example": 2
                              },
                              "roleName": {
                                "type": "string",
                                "minLength": 1,
                                "example": "admin"
                              }
                            },
                            "required": [
                              "roleId",
                              "roleName"
                            ]
                          },
                          "profileImagePath": {
                            "type": "string",
                            "example": "https://www.azure.com/focus/profileImages/3fer34d3rffd.jpeg"
                          },
                          "emailId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "hugh.j@tra-augment.com"
                          },
                          "userName": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Hugh jackman"
                          },
                          "userId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "6a2097f6-4d1b-4a44-a232-fb73db138ee9"
                          }
                        },
                        "required": [
                          "profileImagePath",
                          "emailId",
                          "userName",
                          "userId"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "role": {
                            "roleId": 2,
                            "roleName": "admin"
                          },
                          "profileImagePath": "https://www.azure.com/focus/profileImages/3fer34d3rffd.jpeg",
                          "emailId": "hugh.j@tra-augment.com",
                          "userName": "Hugh jackman",
                          "userId": "6a2097f6-4d1b-4a44-a232-fb73db138ee9"
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get-users-beId",
        "description": "Retrieve all the users in the entity",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "example": 1
            },
            "in": "query",
            "name": "page",
            "description": "Filter the data by the given page no"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "size",
            "description": "Limit the size of the data"
          },
          {
            "schema": {
              "type": "string",
              "example": "hugh.j@tra-augment.com"
            },
            "in": "query",
            "name": "startsWith",
            "description": "Filter the data by the email id"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isAdmin",
            "description": "To get all the admins"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isOrganizer",
            "description": "To get all the organizers"
          },
          {
            "schema": {
              "type": "string",
              "example": "bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwOTUxMDQsImlhdCI6MTYwNjkyMjMwNH0.1YDMiaCXjH5UYxpE_RTJtQPb_eiteJY6Umy7JVOD5gpvwv0_d-bEdSPllqvU9H6eSCRGGk9VQbo5bsWVyu5wzw"
            },
            "in": "header",
            "name": "Authorization",
            "description": "bearer token",
            "required": true
          }
        ]
      }
    },
    "/meeting/generateToken": {
      "post": {
        "summary": "Generate Token",
        "operationId": "post-meeting-generateToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "meeting",
                        "token"
                      ],
                      "properties": {
                        "meeting": {
                          "type": "object",
                          "required": [
                            "allowAnonymousUsers",
                            "meetingId",
                            "schEndTime",
                            "schStartTime",
                            "businessEntity",
                            "meetingUrl",
                            "isScreenshareUsed",
                            "isWaitRoomEnabled",
                            "meetingName",
                            "isRecordingUsed",
                            "isAudioUsed",
                            "meetingDesc",
                            "isVideoUsed",
                            "allowUsersInWaitRoom",
                            "status"
                          ],
                          "properties": {
                            "allowAnonymousUsers": {
                              "type": "boolean"
                            },
                            "meetingId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "b5773f64-c054-4871-b8e1-abcd6bf4ec00"
                            },
                            "schEndTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T16:30:00Z"
                            },
                            "schStartTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T15:30:00Z"
                            },
                            "businessEntity": {
                              "$ref": "../model/common/Business-entity.v1.json"
                            },
                            "meetingUrl": {
                              "type": "string",
                              "minLength": 1,
                              "example": "https://video.3edge.in:5000/c22936942"
                            },
                            "isScreenshareUsed": {
                              "type": "boolean"
                            },
                            "isWaitRoomEnabled": {
                              "type": "boolean"
                            },
                            "meetingName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Sprint meeting"
                            },
                            "isRecordingUsed": {
                              "type": "boolean"
                            },
                            "isAudioUsed": {
                              "type": "boolean"
                            },
                            "meetingDesc": {
                              "type": "string",
                              "minLength": 1,
                              "example": "This meeting is about sprint 2"
                            },
                            "isVideoUsed": {
                              "type": "boolean"
                            },
                            "allowUsersInWaitRoom": {
                              "type": "boolean"
                            },
                            "status": {
                              "$ref": "../model/common/Status.v1.json"
                            }
                          }
                        },
                        "token": {
                          "type": "string",
                          "minLength": 1,
                          "example": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJjMjI5MzY5NDIiLCJleHAiOjE2MDQyNDAyNDIsInVzZXJJZCI6ImQwMzVjY2JiLWU0Y2MtNDRlMi1hZTIxLWI2MTkyODgxM2YwNCIsImlhdCI6MTYwNDIzOTM0Mn0.jx713wF6bOjktogIT_njJXochHsPHVUova045Glhe4J4Uxmpk3dE3xfU60OibACZk8sG6bkmRLbMjUB0SNlpWg"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 1,
                            "statusName": "Scheduled"
                          }
                        },
                        "token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJjMjI5MzY5NDIiLCJleHAiOjE2MDQyNDAyNDIsInVzZXJJZCI6ImQwMzVjY2JiLWU0Y2MtNDRlMi1hZTIxLWI2MTkyODgxM2YwNCIsImlhdCI6MTYwNDIzOTM0Mn0.jx713wF6bOjktogIT_njJXochHsPHVUova045Glhe4J4Uxmpk3dE3xfU60OibACZk8sG6bkmRLbMjUB0SNlpWg"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Invalid Credential!",
                          "errorCode": "401"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Forbidden",
                          "errorCode": "403"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To generate auhtentication token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "anonymousUserId": {
                    "type": "number",
                    "example": 180
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1,
                    "example": "6a2097f6-4d1b-4a44-a232-fb73db138ee9"
                  },
                  "meetingToken": {
                    "type": "string",
                    "minLength": 1,
                    "example": "1b12a1273"
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Rajesh"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Mohanan"
                  }
                }
              },
              "examples": {
                "application/json (1)": {
                  "value": {
                    "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04",
                    "meetingToken": "c22936942"
                  }
                },
                "application/json (2)": {
                  "value": {
                    "meetingToken": "c22936942",
                    "firstName": "Dinesh",
                    "lastName": "kumar"
                  }
                },
                "application/json (3)": {
                  "value": {
                    "anonymousUserId": 180,
                    "meetingToken": "1b12a1273"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/validateUser": {
      "post": {
        "summary": "Validate token",
        "operationId": "post-meeting-validateUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "meeting",
                        "meetingUser"
                      ],
                      "properties": {
                        "meeting": {
                          "type": "object",
                          "required": [
                            "allowAnonymousUsers",
                            "meetingId",
                            "schEndTime",
                            "schStartTime",
                            "businessEntity",
                            "meetingUrl",
                            "isScreenshareUsed",
                            "isWaitRoomEnabled",
                            "meetingName",
                            "waitRoomId",
                            "isRecordingUsed",
                            "isAudioUsed",
                            "meetingDesc",
                            "isVideoUsed",
                            "allowUsersInWaitRoom",
                            "status"
                          ],
                          "properties": {
                            "allowAnonymousUsers": {
                              "type": "boolean"
                            },
                            "meetingId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "b5773f64-c054-4871-b8e1-abcd6bf4ec00"
                            },
                            "schEndTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T16:30:00Z"
                            },
                            "schStartTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T15:30:00Z"
                            },
                            "businessEntity": {
                              "$ref": "../model/common/Business-entity.v1.json"
                            },
                            "meetingUrl": {
                              "type": "string",
                              "minLength": 1,
                              "example": "https://video.3edge.in:5000/c22936942"
                            },
                            "isScreenshareUsed": {
                              "type": "boolean"
                            },
                            "isWaitRoomEnabled": {
                              "type": "boolean"
                            },
                            "meetingName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Sprint meeting"
                            },
                            "waitRoomId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "9bd5fc2e6bd"
                            },
                            "isRecordingUsed": {
                              "type": "boolean"
                            },
                            "isAudioUsed": {
                              "type": "boolean"
                            },
                            "meetingDesc": {
                              "type": "string",
                              "minLength": 1,
                              "example": "This meeting is about  sprint 2"
                            },
                            "isVideoUsed": {
                              "type": "boolean"
                            },
                            "allowUsersInWaitRoom": {
                              "type": "boolean"
                            },
                            "status": {
                              "$ref": "../model/common/Status.v1.json"
                            }
                          }
                        },
                        "meetingUser": {
                          "type": "object",
                          "required": [
                            "isOrganizer",
                            "meetingUserId",
                            "emailId",
                            "userName"
                          ],
                          "properties": {
                            "isOrganizer": {
                              "type": "boolean"
                            },
                            "meetingUserId": {
                              "type": "number",
                              "example": 92
                            },
                            "anonymousUserId": {
                              "anyOf": []
                            },
                            "emailId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "brad.p@tra-augment.com"
                            },
                            "userName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Brad Pitt"
                            },
                            "userId": {
                              "anyOf": []
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "waitRoomId": "9bd5fc2e6bd",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about  sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        },
                        "meetingUser": {
                          "isOrganizer": true,
                          "meetingUserId": 92,
                          "anonymousUserId": 112,
                          "emailId": "brad.p@tra-augment.com",
                          "userName": "Brad Pitt",
                          "userId": null
                        }
                      },
                      "status": "success"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "waitRoomId": "9bd5fc2e6bd",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about  sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        },
                        "meetingUser": {
                          "isOrganizer": true,
                          "meetingUserId": 92,
                          "anonymousUserId": null,
                          "emailId": "brad.p@tra-augment.com",
                          "userName": "Brad Pitt",
                          "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "errorMessage": "Invalid Credential!",
                          "errorCode": "401"
                        }
                      ],
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To validate the user by the given token",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Bearer token"
          }
        ]
      }
    },
    "/meeting/details/{token}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Meeting token"
        }
      ],
      "get": {
        "summary": "Get meeting details by token",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "allowAnonymousUsers",
                        "meetingId",
                        "schEndTime",
                        "showRecording",
                        "schStartTime",
                        "isAutoRecEnabled",
                        "businessEntity",
                        "meetingUrl",
                        "isScreenshareUsed",
                        "isWaitRoomEnabled",
                        "meetingName",
                        "isRecordingUsed",
                        "isAudioUsed",
                        "meetingDesc",
                        "isVideoUsed",
                        "allowUsersInWaitRoom",
                        "status"
                      ],
                      "properties": {
                        "allowAnonymousUsers": {
                          "type": "boolean"
                        },
                        "meetingId": {
                          "type": "string",
                          "minLength": 1,
                          "example": "eed4aad6-fcea-4b5b-9d05-ff772b039d6e"
                        },
                        "schEndTime": {
                          "type": "string",
                          "minLength": 1,
                          "format": "date-time",
                          "example": "2020-11-02T11:30:00Z"
                        },
                        "showRecording": {
                          "type": "boolean"
                        },
                        "schStartTime": {
                          "type": "string",
                          "minLength": 1,
                          "format": "date-time",
                          "example": "2020-11-02T11:30:00Z"
                        },
                        "isAutoRecEnabled": {
                          "type": "boolean"
                        },
                        "businessEntity": {
                          "$ref": "../model/common/Entity.v1.json"
                        },
                        "meetingUrl": {
                          "type": "string",
                          "minLength": 1,
                          "example": "https://video.3edge.in:5000/e0d6e41fa"
                        },
                        "isScreenshareUsed": {
                          "type": "boolean"
                        },
                        "isWaitRoomEnabled": {
                          "type": "boolean"
                        },
                        "meetingName": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Sprint Meeting"
                        },
                        "isRecordingUsed": {
                          "type": "boolean"
                        },
                        "isAudioUsed": {
                          "type": "boolean"
                        },
                        "meetingDesc": {
                          "type": "string",
                          "minLength": 1,
                          "example": "This meeting is about sprint 2"
                        },
                        "isVideoUsed": {
                          "type": "boolean"
                        },
                        "allowUsersInWaitRoom": {
                          "type": "boolean"
                        },
                        "status": {
                          "$ref": "../model/common/Status.v1.json"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "allowAnonymousUsers": true,
                        "meetingId": "eed4aad6-fcea-4b5b-9d05-ff772b039d6e",
                        "schEndTime": "2020-11-02T11:30:00Z",
                        "showRecording": true,
                        "schStartTime": "2020-11-02T11:30:00Z",
                        "isAutoRecEnabled": true,
                        "businessEntity": {
                          "allowAutoSignUp": true,
                          "loginUrl": "https://test.sso.3edge.in",
                          "domainName": "focus",
                          "businessEntityId": 1,
                          "logo": "/conference/images/default.jpg",
                          "businessEntityName": "Focus",
                          "domainUrl": "video.3edge.in",
                          "autoApproveUser": true
                        },
                        "meetingUrl": "https://video.3edge.in:5000/e0d6e41fa",
                        "isScreenshareUsed": true,
                        "isWaitRoomEnabled": true,
                        "meetingName": "Sprint Meeting",
                        "isRecordingUsed": true,
                        "isAudioUsed": true,
                        "meetingDesc": "This meeting is about sprint 2",
                        "isVideoUsed": true,
                        "allowUsersInWaitRoom": true,
                        "status": {
                          "statusId": 3,
                          "statusName": "Completed"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-details-token",
        "description": "Retrive meeting details by meeting token"
      }
    },
    "/user": {
      "post": {
        "summary": "Get user details",
        "operationId": "post-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "role",
                        "profileImagePath",
                        "emailId",
                        "businessEntity",
                        "userName",
                        "userId",
                        "token"
                      ],
                      "properties": {
                        "role": {
                          "type": "object",
                          "required": [
                            "roleId",
                            "roleName"
                          ],
                          "properties": {
                            "roleId": {
                              "type": "number",
                              "example": 2
                            },
                            "roleName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "BE admin"
                            }
                          }
                        },
                        "profileImagePath": {
                          "type": "string",
                          "example": "/conference/images/user_images/profile_1605178865334.jpg"
                        },
                        "emailId": {
                          "type": "string",
                          "minLength": 1,
                          "example": "dinesh.k@tra-augment.com"
                        },
                        "businessEntity": {
                          "$ref": "../model/common/Business-entity.v1.json"
                        },
                        "userName": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Dinesh kumar"
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1,
                          "example": "19428b05-4da5-45e2-b3ae-91022084c234"
                        },
                        "token": {
                          "type": "string",
                          "minLength": 1,
                          "example": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwNzYyMjMsImlhdCI6MTYwNjkwMzQyM30.LQgcuRMsDRM-YMXpWowEbIMzvPLoVIlaxprjgane03Gl1HL5b58TGOQUefSaBA0zMPLUna8TBz854BDeWqSvEQ"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "role": {
                          "roleId": 2,
                          "roleName": "BE admin"
                        },
                        "profileImagePath": "/conference/images/user_images/profile_1605178865334.jpg",
                        "emailId": "dinesh.k@tra-augment.com",
                        "businessEntity": {
                          "businessEnitytId": 1,
                          "businessEnityName": "Focus",
                          "logo": "/business/focus.jpg"
                        },
                        "userName": "Dinesh kumar",
                        "userId": "19428b05-4da5-45e2-b3ae-91022084c234",
                        "token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOTQyOGIwNS00ZGE1LTQ1ZTItYjNhZS05MTAyMjA4NGMyMzQiLCJleHAiOjE2MDcwNzYyMjMsImlhdCI6MTYwNjkwMzQyM30.LQgcuRMsDRM-YMXpWowEbIMzvPLoVIlaxprjgane03Gl1HL5b58TGOQUefSaBA0zMPLUna8TBz854BDeWqSvEQ"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "errorMessage",
                        "errorCode"
                      ],
                      "properties": {
                        "errorMessage": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Invalid Credential!"
                        },
                        "errorCode": {
                          "type": "string",
                          "minLength": 1,
                          "example": "401"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "error"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "errorMessage": "Invalid Credential!",
                        "errorCode": "401"
                      },
                      "status": "error"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrive the user details by keycloak user id and business entity id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
[...]
