{
  "openapi": "3.0.0",
  "info": {
    "title": "AV conference API",
    "version": "2.0",
    "description": "API documentation for the AV conference",
    "contact": {
      "name": "Dineshkumar",
      "email": "dineshkumar.b@tra-augment.com",
      "url": "http://www.3edge.in"
    },
    "termsOfService": "https://www.termsofservice.com",
    "license": {
      "name": "MIT",
      "url": "https://github.com/b-dinesh-kumar/AV_conf/"
    }
  },
  "servers": [
    {
      "url": "https://jitsitomcat3edge.freemyip.com:5001/conference/v2/",
      "description": ""
    }
  ],
  "paths": {
    "/meeting": {
      "get": {
        "summary": "getAllMeeting",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "../model/common/Pagination.v1.json"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "../model/common/Meetings.v1.json"
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "pagination": {
                        "totalRecords": 25,
                        "limit": 20,
                        "page": 1
                      },
                      "data": [
                        {
                          "allowAnonymousUsers": true,
                          "businessEntityId": 1,
                          "meetingId": "85571e49-aa3e-4a0f-aa95-15b87793d01b",
                          "schEndTime": "2020-11-04T11:30:00Z",
                          "showRecording": true,
                          "schStartTime": "2020-11-04T10:30:00Z",
                          "isAutoRecEnabled": true,
                          "meetingUrl": "https://video.3edge.in:5000/a2f987292",
                          "isScreenshareUsed": true,
                          "meetingTimings": [
                            {
                              "actStartTime": "2020-10-28T15:20:00Z",
                              "actEndTime": "2020-10-28T16:15:00Z"
                            }
                          ],
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprin meeting",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "get-meeting",
        "description": "Retrieve all the meeting details.",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "example": 1
            },
            "in": "query",
            "name": "page",
            "description": "Filter the meetings by the given page no"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "size",
            "description": "Limit the size of the data"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 4,
              "example": 1
            },
            "in": "query",
            "name": "status",
            "description": "Filter the meetings by the given status id \nEg: 1 - Scheduled,\n    2 - In progress,\n    3 - Completed,\n    4 - Cancelled"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-10-07"
            },
            "in": "query",
            "name": "from",
            "description": "Filter based on given start date"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-10-15",
              "format": "date"
            },
            "in": "query",
            "name": "to",
            "description": "Filter the meetings by the given end date"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "month",
            "description": "Filter the meetings by the given month"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "in": "query",
            "name": "sort",
            "description": "Sort the page by ascending or descending order\nEg: asc - sort by ascending,\n    desc- sort by descending"
          },
          {
            "schema": {
              "type": "string",
              "example": "0e63df57-a21b-4264-bd90-2657ce94d2d1"
            },
            "in": "query",
            "name": "createdBy",
            "description": "Filter the meetings by the scheduler"
          },
          {
            "schema": {
              "type": "string",
              "example": "0e63df57-a21b-4264-bd90-2657ce94d2d1"
            },
            "in": "query",
            "name": "organizer",
            "description": "Filter the meetings by the organizer"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "createMeeting",
        "operationId": "post-meeting",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "meetingId": {
                          "type": "string",
                          "example": "342a7e48-8626-40e2-8e16-547c2a1c49c8"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "meetingId": "342a7e48-8626-40e2-8e16-547c2a1c49c8"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To create a meeting.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "schStartTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T10:30:00Z"
                  },
                  "schEndTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T11:30:00Z"
                  },
                  "meetingName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Sprint Meeting"
                  },
                  "meetingDesc": {
                    "type": "string",
                    "minLength": 1,
                    "example": "This meeting is about sprint 2"
                  },
                  "isWaitRoomEnabled": {
                    "type": "boolean"
                  },
                  "allowAnonymousUsers": {
                    "type": "boolean"
                  },
                  "isScreenshareUsed": {
                    "type": "boolean"
                  },
                  "isRecordingUsed": {
                    "type": "boolean"
                  },
                  "isAudioUsed": {
                    "type": "boolean"
                  },
                  "allowUsersInWaitRoom": {
                    "type": "boolean"
                  },
                  "isVideoUsed": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "schStartTime",
                  "schEndTime",
                  "meetingName",
                  "meetingDesc"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "schStartTime": "2020-11-02T10:30:00Z",
                    "schEndTime": "2020-11-02T11:30:00Z",
                    "meetingName": "Sprint Meeting",
                    "meetingDesc": "This meeting is about sprint 2",
                    "isWaitRoomEnabled": true,
                    "allowAnonymousUsers": true,
                    "isScreenshareUsed": true,
                    "isRecordingUsed": true,
                    "isAudioUsed": true,
                    "allowUsersInWaitRoom": true,
                    "isVideoUsed": true
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Details to create a meeting."
        },
        "parameters": []
      }
    },
    "/meeting/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "getMeetingById",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "../model/common/Meeting.v1.json"
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "allowAnonymousUsers": true,
                        "meetingId": "85571e49-aa3e-4a0f-aa95-15b87793d01b",
                        "schEndTime": "2020-11-04T11:30:00Z",
                        "showRecording": true,
                        "schStartTime": "2020-11-04T10:30:00Z",
                        "isAutoRecEnabled": true,
                        "businessEntity": {
                          "businessEnitytId": 1,
                          "businessEnityName": "Focus",
                          "logo": "/business/focus.jpg"
                        },
                        "meetingUrl": "https://video.3edge.in:5000/a2f987292",
                        "isScreenshareUsed": true,
                        "meetingTimings": [
                          {
                            "actStartTime": "2020-10-28T15:20:00Z",
                            "actEndTime": "2020-10-28T16:15:00Z"
                          }
                        ],
                        "isWaitRoomEnabled": true,
                        "meetingName": "Sprint Meeting",
                        "isRecordingUsed": true,
                        "isAudioUsed": true,
                        "meetingDesc": "This meeting is about sprint 2",
                        "isVideoUsed": true,
                        "allowUsersInWaitRoom": true,
                        "status": {
                          "statusId": 3,
                          "statusName": "Completed"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actEndTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "meetingId": {
                            "type": "string"
                          },
                          "schEndTime": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-id",
        "description": "Retrieve the meeting details by id"
      },
      "delete": {
        "summary": "deleteMeetingById",
        "operationId": "delete-meeting-id",
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully"
                      },
                      "staus": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the meeting by id."
      },
      "patch": {
        "summary": "updateMeetingById",
        "operationId": "patch-meeting-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update the meeting by id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "schStartTime": {
                    "type": "string",
                    "minLength": 1,
                    "example": "2020-11-02T10:30:00Z",
                    "format": "date-time"
                  },
                  "schEndTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-02T11:30:00Z"
                  },
                  "meetingName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Sprint Meeting"
                  },
                  "meetingDesc": {
                    "type": "string",
                    "minLength": 1,
                    "example": "This meeting is about sprint 2"
                  },
                  "isWaitRoomEnabled": {
                    "type": "boolean"
                  },
                  "allowAnonymousUsers": {
                    "type": "boolean"
                  },
                  "isScreenshareUsed": {
                    "type": "boolean"
                  },
                  "isRecordingUsed": {
                    "type": "boolean"
                  },
                  "isAudioUsed": {
                    "type": "boolean"
                  },
                  "allowUsersInWaitRoom": {
                    "type": "boolean"
                  },
                  "isVideoUsed": {
                    "type": "boolean"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "schStartTime": "2020-11-02T10:30:00Z",
                    "schEndTime": "2020-11-02T11:30:00Z",
                    "meetingName": "Sprint Meeting",
                    "meetingDesc": "This meeting is about sprint 2",
                    "isWaitRoomEnabled": true,
                    "allowAnonymousUsers": true,
                    "isScreenshareUsed": true,
                    "isRecordingUsed": true,
                    "isAudioUsed": true,
                    "allowUsersInWaitRoom": true,
                    "isVideoUsed": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/{id}/participants": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "getAllParticipants",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "isOrganizer": {
                            "type": "boolean"
                          },
                          "meetingUserId": {
                            "type": "number",
                            "example": 83
                          },
                          "meetingId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "b745a235-0036-4740-8c65-3113d9d5bb3b"
                          },
                          "anonymousUser": {
                            "type": "object",
                            "properties": {
                              "anonymousUserId": {
                                "type": "number",
                                "example": 84
                              },
                              "emailId": {
                                "type": "string",
                                "example": "rajesh.a@gamil.com"
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "emailId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "brad.p@tra-augment.com"
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                              }
                            }
                          }
                        },
                        "required": [
                          "isOrganizer",
                          "meetingUserId",
                          "meetingId"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": [
                        {
                          "isOrganizer": true,
                          "meetingUserId": 83,
                          "meetingId": "b745a235-0036-4740-8c65-3113d9d5bb3b",
                          "anonymousUser": {},
                          "user": {
                            "emailId": "brad.p@tra-augment.com",
                            "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                          }
                        }
                      ],
                      "status": "successs"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": [
                        {
                          "isOrganizer": false,
                          "meetingUserId": 83,
                          "meetingId": "b745a235-0036-4740-8c65-3113d9d5bb3b",
                          "anonymousUser": {
                            "anonymousUserId": 84,
                            "emailId": "rajesh.a@gamil.com"
                          },
                          "user": {}
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-id-participants",
        "description": "Retrieve list of participants of the meeting"
      },
      "post": {
        "summary": "addPartcipants",
        "operationId": "post-meeting-id-participants",
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Participants added successfully"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Participants added successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Add participants to the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "required": [
                        "isOrganizer",
                        "userId"
                      ],
                      "properties": {
                        "isOrganizer": {
                          "type": "boolean"
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    }
                  }
                },
                "required": [
                  "users"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      {
                        "isOrganizer": true,
                        "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "updateParticipants",
        "operationId": "patch-meeting-id-participants",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update the details of the participants",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "isOrganizer": {
                          "type": "boolean"
                        },
                        "meetingUserId": {
                          "type": "string",
                          "example": "12"
                        },
                        "emailId": {
                          "type": "string",
                          "format": "email",
                          "example": "christian.b@tra-augment.com"
                        }
                      },
                      "required": [
                        "meetingUserId"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      {
                        "isOrganizer": true,
                        "meetingUserId": "12",
                        "emailId": "christian.b@tra-augment.com"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "deleteParticipants",
        "operationId": "delete-meeting-id-participants",
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the participants of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "example": 83
                    }
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "users": [
                      45
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/meeting/{id}/participants/{uId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "uId",
          "in": "path",
          "required": true,
          "description": "[GET,POST]-Meeting user id, [PATCH] - User session id"
        }
      ],
      "get": {
        "summary": "getUserSessions",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "../model/common/User-session.v1.json"
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "meeetingUserId": 66,
                          "reason": {
                            "reasonId": 1,
                            "reasonName": "Disconnected"
                          },
                          "exitTime": "2020-10-28T15:32:32Z",
                          "downloadSpeed": 5048,
                          "joinTime": "2020-10-28T15:22:32Z",
                          "uploadSpeed": 5048,
                          "userSessionId": 69,
                          "device": {
                            "deviceId": 3,
                            "deviceName": "Mobile"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-id-participants-meetingUserId",
        "description": "Retrieve the user session details"
      },
      "post": {
        "summary": "createUserSession",
        "operationId": "post-meeting-id-participants-meetingUserId",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "userSessionId": {
                          "type": "string",
                          "example": "12"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "userSessionId": "12"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create the user session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "joinTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-07T10:30:00Z"
                  },
                  "deviceId": {
                    "type": "number",
                    "example": 1
                  },
                  "uploadSpeed": {
                    "type": "number",
                    "example": 5048
                  },
                  "downloadSpeed": {
                    "type": "number",
                    "example": 5048
                  }
                },
                "required": [
                  "joinTime",
                  "deviceId",
                  "uploadSpeed",
                  "downloadSpeed"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "joinTime": "2020-10-07T10:30:00Z",
                    "deviceId": 1,
                    "uploadSpeed": 5048,
                    "downloadSpeed": 5048
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "patch": {
        "summary": "updateUserSession",
        "operationId": "patch-meeting-id-participants-uId",
        "description": "Update the user session by user session id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exitTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-07T10:50:00Z"
                  },
                  "reasonId": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "exitTime": "2020-10-07T10:50:00Z",
                    "reasonId": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/{id}/statistics": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "get": {
        "summary": "getMeetingStatistics",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "isOrganizer": {
                            "type": "boolean"
                          },
                          "meetingUserId": {
                            "type": "number",
                            "example": 87
                          },
                          "sessionDetails": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "$ref": "../model/common/Session-Details.v1.json"
                            }
                          },
                          "anonymousUser": {
                            "type": "object",
                            "properties": {
                              "anonymousUserId": {
                                "type": "number",
                                "example": 90
                              },
                              "emailId": {
                                "type": "string",
                                "example": "sathish.a@gamil.com"
                              },
                              "userName": {
                                "type": "string",
                                "example": "Sathish"
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "emailId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "brad.p@tra-augment.com"
                              },
                              "userName": {
                                "type": "string",
                                "minLength": 1,
                                "example": "Brad Pitt"
                              },
                              "userId": {
                                "type": "string",
                                "minLength": 1,
                                "example": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                              }
                            }
                          }
                        },
                        "required": [
                          "isOrganizer",
                          "meetingUserId"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": [
                        {
                          "isOrganizer": true,
                          "meetingUserId": 87,
                          "sessionDetails": [
                            {
                              "reason": "Disconnected",
                              "exitTime": "2020-10-07T10:50:00Z",
                              "joinTime": "2020-10-07T10:30:00Z",
                              "uploadSpeed": 5048,
                              "downloadSpeed": 5048,
                              "device": "PC"
                            }
                          ],
                          "anonymousUser": {},
                          "user": {
                            "emailId": "brad.p@tra-augment.com",
                            "userName": "Brad Pitt",
                            "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                          }
                        }
                      ],
                      "status": "success"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": [
                        {
                          "isOrganizer": true,
                          "meetingUserId": 87,
                          "sessionDetails": [
                            {
                              "reason": "Disconnected",
                              "exitTime": "2020-10-07T10:50:00Z",
                              "joinTime": "2020-10-07T10:30:00Z",
                              "uploadSpeed": 5048,
                              "downloadSpeed": 5048,
                              "device": "PC"
                            }
                          ],
                          "anonymousUser": {
                            "anonymousUserId": 90,
                            "emailId": "sathish.a@gamil.com",
                            "userName": "Sathish"
                          },
                          "user": {}
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-id-statistics",
        "description": "Retrieve the meeting statistics"
      }
    },
    "/meeting/recording": {
      "get": {
        "summary": "getAllMeetingRecordings",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "../model/common/Pagination.v1.json"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "../model/common/Recording.v1.json"
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "pagination": {
                        "totalRecords": 25,
                        "limit": 20,
                        "page": 1
                      },
                      "data": [
                        {
                          "bookmark": [
                            {
                              "bookmarkId": 31,
                              "meetingUserId": 7,
                              "bookmarkTime": "11:15:45"
                            }
                          ],
                          "fileName": "recording14345.mp4",
                          "domain": "https://www.azure.com",
                          "filePath": "/focus/meeting/recoring/video",
                          "startTime": "2020-10-13T11:15:29Z",
                          "endTime": "2020-10-13T11:30:15Z",
                          "recordingId": 22,
                          "meetingId": "a1c88018-4b28-45b0-aa66-dc3886442530"
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-recording",
        "description": "Retrieve all the meeting recordings."
      },
      "post": {
        "summary": "createMeetingRecording",
        "operationId": "post-meeting-recording",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "recordingId": {
                          "type": "number",
                          "example": 35
                        },
                        "status": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "recordingId": 35,
                        "status": "success"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create meeting recording",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meetingId": {
                    "type": "string",
                    "example": "68eeec02-b723-41fb-94c2-7ad1e5502b0d"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "meetingId": "68eeec02-b723-41fb-94c2-7ad1e5502b0d"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/recording/{recId}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "recId",
          "in": "path",
          "required": true,
          "description": "Meeting recoring id"
        }
      ],
      "get": {
        "summary": "getMeetingRecording",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "../model/common/Recording.v1.json"
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "appication/json": {
                    "value": {
                      "data": {
                        "bookmark": [
                          {
                            "bookmarkId": 31,
                            "meetingUserId": 7,
                            "bookmarkTime": "11:15:45"
                          }
                        ],
                        "fileName": "recording14345.mp4",
                        "domain": "https://www.azure.com",
                        "filePath": "/focus/meeting/recoring/video",
                        "startTime": "2020-10-13T11:15:29Z",
                        "endTime": "2020-10-13T11:30:15Z",
                        "recordingId": 22,
                        "meetingId": "a1c88018-4b28-45b0-aa66-dc3886442530"
                      },
                      "status": "success"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bookmark": {
                          "$ref": "../model/common/Bookmark.v1.json"
                        },
                        "": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-recording-recId",
        "description": "Retrieve the meeting recording by the id"
      },
      "patch": {
        "summary": "updateMeetingRecording",
        "operationId": "patch-meeting-recording-recId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update the meeting recording by the recording id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string",
                    "example": "recording14345.mp4"
                  },
                  "domain": {
                    "type": "string",
                    "example": "https://www.azure.com"
                  },
                  "filePath": {
                    "type": "string",
                    "example": "/focus/meeting/recoring/video"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-13T13:20:15Z"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "fileName": "recording14345.mp4",
                    "domain": "https://www.azure.com",
                    "filePath": "/focus/meeting/recoring/video",
                    "endTime": "2020-10-13T13:20:15Z"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "deleteMeetingRecording",
        "operationId": "delete-meeting-recording-recId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully",
                        "status": "success"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "description": "Delete the meeting recording by the recording id"
      }
    },
    "/meeting/recording/{recId}/bookmark/{muId}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "recId",
          "in": "path",
          "required": true,
          "description": "Recording id"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "muId",
          "in": "path",
          "required": true,
          "description": "[POST] - Meeting user id and [DELETE] - Bookmark id"
        }
      ],
      "post": {
        "summary": "createBookmark",
        "operationId": "post-meeting-recording-recId-bookmark-muId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bookmarkId": {
                          "type": "number",
                          "example": 15
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "bookmarkId": 15
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create boomark for the meeting recording",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bookmarkTime": {
                    "type": "string",
                    "format": "time",
                    "example": "11:22:45"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "bookmarkTime": "11:22:45"
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "delete": {
        "summary": "deleteBookmark",
        "operationId": "delete-meeting-recording-recId-bookmark-muId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delete-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Deleted successfully",
                        "status": "success"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete the bookmark by bookmar id"
      }
    },
    "/meeting/{id}/timing": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Meeting id"
        }
      ],
      "post": {
        "summary": "createMeetingTiming",
        "operationId": "post-meeting-id-timing",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "timingId"
                      ],
                      "properties": {
                        "timingId": {
                          "type": "number",
                          "example": 92
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "timingId": 92
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To create the actual start time of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-10-28T16:15:00Z"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "startTime": "2020-10-28T16:15:00Z"
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "patch": {
        "summary": "updateMeetingTiming",
        "operationId": "patch-meeting-id-timing",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update-response"
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "message": "Updated successfully"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To create the actual end time of the meeting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "endTime": {
                    "type": "string",
                    "minLength": 1,
                    "format": "date-time",
                    "example": "2020-11-01T14:25:00Z"
                  },
                  "timingId": {
                    "type": "number",
                    "example": 92
                  }
                },
                "required": [
                  "endTime",
                  "timingId"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "endTime": "2020-11-01T14:25:00Z",
                    "timingId": 92
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{beId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "beId",
          "in": "path",
          "required": true,
          "description": "Business entity id"
        }
      ],
      "get": {
        "summary": "getAllUsers",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "object",
                            "properties": {
                              "roleId": {
                                "type": "number",
                                "example": 2
                              },
                              "roleName": {
                                "type": "string",
                                "minLength": 1,
                                "example": "admin"
                              }
                            },
                            "required": [
                              "roleId",
                              "roleName"
                            ]
                          },
                          "profileImagePath": {
                            "type": "string",
                            "example": "https://www.azure.com/focus/profileImages/3fer34d3rffd.jpeg"
                          },
                          "emailId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "hugh.j@tra-augment.com"
                          },
                          "userName": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Hugh jackman"
                          },
                          "userId": {
                            "type": "string",
                            "minLength": 1,
                            "example": "6a2097f6-4d1b-4a44-a232-fb73db138ee9"
                          }
                        },
                        "required": [
                          "profileImagePath",
                          "emailId",
                          "userName",
                          "userId"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": [
                        {
                          "role": {
                            "roleId": 2,
                            "roleName": "admin"
                          },
                          "profileImagePath": "https://www.azure.com/focus/profileImages/3fer34d3rffd.jpeg",
                          "emailId": "hugh.j@tra-augment.com",
                          "userName": "Hugh jackman",
                          "userId": "6a2097f6-4d1b-4a44-a232-fb73db138ee9"
                        }
                      ],
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-users-beId",
        "description": "Retrieve all the users in the entity",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "example": 1
            },
            "in": "query",
            "name": "page",
            "description": "Filter the data by the given page no"
          },
          {
            "schema": {
              "type": "number",
              "example": 10
            },
            "in": "query",
            "name": "size",
            "description": "Limit the size of the data"
          },
          {
            "schema": {
              "type": "string",
              "example": "hugh.j@tra-augment.com"
            },
            "in": "query",
            "name": "startsWith",
            "description": "Filter the data by the email id"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isAdmin",
            "description": "To get all the admins"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isOrganizer",
            "description": "To get all the organizers"
          }
        ]
      }
    },
    "/meeting/generateToken": {
      "post": {
        "summary": "generateToken",
        "operationId": "post-meeting-generateToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "meeting",
                        "token"
                      ],
                      "properties": {
                        "meeting": {
                          "type": "object",
                          "required": [
                            "allowAnonymousUsers",
                            "meetingId",
                            "schEndTime",
                            "schStartTime",
                            "businessEntity",
                            "meetingUrl",
                            "isScreenshareUsed",
                            "isWaitRoomEnabled",
                            "meetingName",
                            "isRecordingUsed",
                            "isAudioUsed",
                            "meetingDesc",
                            "isVideoUsed",
                            "allowUsersInWaitRoom",
                            "status"
                          ],
                          "properties": {
                            "allowAnonymousUsers": {
                              "type": "boolean"
                            },
                            "meetingId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "b5773f64-c054-4871-b8e1-abcd6bf4ec00"
                            },
                            "schEndTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T16:30:00Z"
                            },
                            "schStartTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T15:30:00Z"
                            },
                            "businessEntity": {
                              "$ref": "../model/common/Business-entity.v1.json"
                            },
                            "meetingUrl": {
                              "type": "string",
                              "minLength": 1,
                              "example": "https://video.3edge.in:5000/c22936942"
                            },
                            "isScreenshareUsed": {
                              "type": "boolean"
                            },
                            "isWaitRoomEnabled": {
                              "type": "boolean"
                            },
                            "meetingName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Sprint meeting"
                            },
                            "isRecordingUsed": {
                              "type": "boolean"
                            },
                            "isAudioUsed": {
                              "type": "boolean"
                            },
                            "meetingDesc": {
                              "type": "string",
                              "minLength": 1,
                              "example": "This meeting is about sprint 2"
                            },
                            "isVideoUsed": {
                              "type": "boolean"
                            },
                            "allowUsersInWaitRoom": {
                              "type": "boolean"
                            },
                            "status": {
                              "$ref": "../model/common/Status.v1.json"
                            }
                          }
                        },
                        "token": {
                          "type": "string",
                          "minLength": 1,
                          "example": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJjMjI5MzY5NDIiLCJleHAiOjE2MDQyNDAyNDIsInVzZXJJZCI6ImQwMzVjY2JiLWU0Y2MtNDRlMi1hZTIxLWI2MTkyODgxM2YwNCIsImlhdCI6MTYwNDIzOTM0Mn0.jx713wF6bOjktogIT_njJXochHsPHVUova045Glhe4J4Uxmpk3dE3xfU60OibACZk8sG6bkmRLbMjUB0SNlpWg"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 1,
                            "statusName": "Scheduled"
                          }
                        },
                        "token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJjMjI5MzY5NDIiLCJleHAiOjE2MDQyNDAyNDIsInVzZXJJZCI6ImQwMzVjY2JiLWU0Y2MtNDRlMi1hZTIxLWI2MTkyODgxM2YwNCIsImlhdCI6MTYwNDIzOTM0Mn0.jx713wF6bOjktogIT_njJXochHsPHVUova045Glhe4J4Uxmpk3dE3xfU60OibACZk8sG6bkmRLbMjUB0SNlpWg"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To generate auhtentication token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1,
                    "example": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                  },
                  "meetingToken": {
                    "type": "string",
                    "minLength": 1,
                    "example": "c22936942"
                  },
                  "userName": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Dinesh kumar"
                  },
                  "emailId": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dineshkumar.b@gmail.com"
                  }
                }
              },
              "examples": {
                "application/json (1)": {
                  "value": {
                    "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04",
                    "meetingToken": "c22936942"
                  }
                },
                "application/json (2)": {
                  "value": {
                    "meetingToken": "c22936942",
                    "userName": "Dinesh kumar",
                    "emailId": "dineshkumar.b@gmail.com"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/meeting/validateUser": {
      "post": {
        "summary": "validateUser",
        "operationId": "post-meeting-validateUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "meeting",
                        "meetingUser"
                      ],
                      "properties": {
                        "meeting": {
                          "type": "object",
                          "required": [
                            "allowAnonymousUsers",
                            "meetingId",
                            "schEndTime",
                            "schStartTime",
                            "businessEntity",
                            "meetingUrl",
                            "isScreenshareUsed",
                            "isWaitRoomEnabled",
                            "meetingName",
                            "waitRoomId",
                            "isRecordingUsed",
                            "isAudioUsed",
                            "meetingDesc",
                            "isVideoUsed",
                            "allowUsersInWaitRoom",
                            "status"
                          ],
                          "properties": {
                            "allowAnonymousUsers": {
                              "type": "boolean"
                            },
                            "meetingId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "b5773f64-c054-4871-b8e1-abcd6bf4ec00"
                            },
                            "schEndTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T16:30:00Z"
                            },
                            "schStartTime": {
                              "type": "string",
                              "minLength": 1,
                              "example": "2020-11-02T15:30:00Z"
                            },
                            "businessEntity": {
                              "$ref": "../model/common/Business-entity.v1.json"
                            },
                            "meetingUrl": {
                              "type": "string",
                              "minLength": 1,
                              "example": "https://video.3edge.in:5000/c22936942"
                            },
                            "isScreenshareUsed": {
                              "type": "boolean"
                            },
                            "isWaitRoomEnabled": {
                              "type": "boolean"
                            },
                            "meetingName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Sprint meeting"
                            },
                            "waitRoomId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "9bd5fc2e6bd"
                            },
                            "isRecordingUsed": {
                              "type": "boolean"
                            },
                            "isAudioUsed": {
                              "type": "boolean"
                            },
                            "meetingDesc": {
                              "type": "string",
                              "minLength": 1,
                              "example": "This meeting is about  sprint 2"
                            },
                            "isVideoUsed": {
                              "type": "boolean"
                            },
                            "allowUsersInWaitRoom": {
                              "type": "boolean"
                            },
                            "status": {
                              "$ref": "../model/common/Status.v1.json"
                            }
                          }
                        },
                        "meetingUser": {
                          "type": "object",
                          "required": [
                            "isOrganizer",
                            "meetingUserId",
                            "emailId",
                            "userName"
                          ],
                          "properties": {
                            "isOrganizer": {
                              "type": "boolean"
                            },
                            "meetingUserId": {
                              "type": "number",
                              "example": 92
                            },
                            "anonymousUserId": {
                              "anyOf": []
                            },
                            "emailId": {
                              "type": "string",
                              "minLength": 1,
                              "example": "brad.p@tra-augment.com"
                            },
                            "userName": {
                              "type": "string",
                              "minLength": 1,
                              "example": "Brad Pitt"
                            },
                            "userId": {
                              "anyOf": []
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json (1)": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "waitRoomId": "9bd5fc2e6bd",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about  sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        },
                        "meetingUser": {
                          "isOrganizer": true,
                          "meetingUserId": 92,
                          "anonymousUserId": 112,
                          "emailId": "brad.p@tra-augment.com",
                          "userName": "Brad Pitt",
                          "userId": null
                        }
                      },
                      "status": "success"
                    }
                  },
                  "application/json (2)": {
                    "value": {
                      "data": {
                        "meeting": {
                          "allowAnonymousUsers": true,
                          "meetingId": "b5773f64-c054-4871-b8e1-abcd6bf4ec00",
                          "schEndTime": "2020-11-02T16:30:00Z",
                          "schStartTime": "2020-11-02T15:30:00Z",
                          "businessEntity": {
                            "businessEnitytId": 1,
                            "businessEnityName": "Focus",
                            "logo": "/business/focus.jpg"
                          },
                          "meetingUrl": "https://video.3edge.in:5000/c22936942",
                          "isScreenshareUsed": true,
                          "isWaitRoomEnabled": true,
                          "meetingName": "Sprint meeting",
                          "waitRoomId": "9bd5fc2e6bd",
                          "isRecordingUsed": true,
                          "isAudioUsed": true,
                          "meetingDesc": "This meeting is about  sprint 2",
                          "isVideoUsed": true,
                          "allowUsersInWaitRoom": true,
                          "status": {
                            "statusId": 3,
                            "statusName": "Completed"
                          }
                        },
                        "meetingUser": {
                          "isOrganizer": true,
                          "meetingUserId": 92,
                          "anonymousUserId": null,
                          "emailId": "brad.p@tra-augment.com",
                          "userName": "Brad Pitt",
                          "userId": "d035ccbb-e4cc-44e2-ae21-b61928813f04"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "To validate the user by the given token",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Bearer token"
          }
        ]
      }
    },
    "/meeting/details/{token}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Meeting token"
        }
      ],
      "get": {
        "summary": "getMeetingByToken",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "allowAnonymousUsers",
                        "meetingId",
                        "schEndTime",
                        "showRecording",
                        "schStartTime",
                        "isAutoRecEnabled",
                        "businessEntity",
                        "meetingUrl",
                        "isScreenshareUsed",
                        "isWaitRoomEnabled",
                        "meetingName",
                        "isRecordingUsed",
                        "isAudioUsed",
                        "meetingDesc",
                        "isVideoUsed",
                        "allowUsersInWaitRoom",
                        "status"
                      ],
                      "properties": {
                        "allowAnonymousUsers": {
                          "type": "boolean"
                        },
                        "meetingId": {
                          "type": "string",
                          "minLength": 1,
                          "example": "eed4aad6-fcea-4b5b-9d05-ff772b039d6e"
                        },
                        "schEndTime": {
                          "type": "string",
                          "minLength": 1,
                          "format": "date-time",
                          "example": "2020-11-02T11:30:00Z"
                        },
                        "showRecording": {
                          "type": "boolean"
                        },
                        "schStartTime": {
                          "type": "string",
                          "minLength": 1,
                          "format": "date-time",
                          "example": "2020-11-02T11:30:00Z"
                        },
                        "isAutoRecEnabled": {
                          "type": "boolean"
                        },
                        "businessEntity": {
                          "$ref": "../model/common/Entity.v1.json"
                        },
                        "meetingUrl": {
                          "type": "string",
                          "minLength": 1,
                          "example": "https://video.3edge.in:5000/e0d6e41fa"
                        },
                        "isScreenshareUsed": {
                          "type": "boolean"
                        },
                        "isWaitRoomEnabled": {
                          "type": "boolean"
                        },
                        "meetingName": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Sprint Meeting"
                        },
                        "isRecordingUsed": {
                          "type": "boolean"
                        },
                        "isAudioUsed": {
                          "type": "boolean"
                        },
                        "meetingDesc": {
                          "type": "string",
                          "minLength": 1,
                          "example": "This meeting is about sprint 2"
                        },
                        "isVideoUsed": {
                          "type": "boolean"
                        },
                        "allowUsersInWaitRoom": {
                          "type": "boolean"
                        },
                        "status": {
                          "$ref": "../model/common/Status.v1.json"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1,
                      "example": "success"
                    }
                  },
                  "required": [
                    "data",
                    "status"
                  ]
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "data": {
                        "allowAnonymousUsers": true,
                        "meetingId": "eed4aad6-fcea-4b5b-9d05-ff772b039d6e",
                        "schEndTime": "2020-11-02T11:30:00Z",
                        "showRecording": true,
                        "schStartTime": "2020-11-02T11:30:00Z",
                        "isAutoRecEnabled": true,
                        "businessEntity": {
                          "allowAutoSignUp": true,
                          "loginUrl": "https://test.sso.3edge.in",
                          "domainName": "focus",
                          "businessEntityId": 1,
                          "logo": "/conference/images/default.jpg",
                          "businessEntityName": "Focus",
                          "domainUrl": "video.3edge.in",
                          "autoApproveUser": true
                        },
                        "meetingUrl": "https://video.3edge.in:5000/e0d6e41fa",
                        "isScreenshareUsed": true,
                        "isWaitRoomEnabled": true,
                        "meetingName": "Sprint Meeting",
                        "isRecordingUsed": true,
                        "isAudioUsed": true,
                        "meetingDesc": "This meeting is about sprint 2",
                        "isVideoUsed": true,
                        "allowUsersInWaitRoom": true,
                        "status": {
                          "statusId": 3,
                          "statusName": "Completed"
                        }
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-meeting-details-token",
        "description": "Retrive meeting details by meeting token"
      }
    }
  },
  "components": {
    "schemas": {
      "Update-response": {
        "title": "Update-response",
        "type": "object",
        "description": "Response object of UPDATE operaion",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Updated successfully"
              }
            }
          },
          "status": {
            "type": "string",
            "example": "success"
          }
        },
        "x-examples": {
          "application/json": {
            "data": {
              "message": "Updated successfully"
            },
            "status": "success"
          }
        }
      },
      "Delete-response": {
        "title": "Delete-response",
        "type": "object",
        "description": "Response object of DELETE operaion",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Deleted successfully"
              },
              "status": {
                "type": "string",
                "example": "success"
              }
            }
          }
        },
        "x-examples": {
          "application/json": {
            "data": {
              "message": "Deleted successfully",
              "status": "success"
            }
          }
        }
      }
    },
    "securitySchemes": {}
  }
}